*{
    margin:0;
    padding:0;
    box-sizing: border;
    font-family: "Segoe UI",
Arial,sans-serif;
}
body{
    background:#fff;
}
h3{
    color:black;
    font-size: 24px;
    margin-top: 70px;
    text-align: center;
}
h1{ 
    color: black;
    font-size: 64px;
    text-align: center;
    margin: 20px 0;
    line-height:1.1;
    font-weight: 700;
}
p{
    width: 1050px;
    max-width: 90%;
    margin:auto;
    font-size: 22px;
    line-height: 1.6;
    color: #555;
    text-align: center;
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 80px; 
}
.nav-links,.nav-right{
    display:flex;
    list-style: none;
    gap:20px;
}
.nav-links a,.nav-right a{
    text-decoration: none;
    color: #555;
}
.logos1,.logos2,.logos3,.logos4{
    width: 1100px;
    max-width: 90%;
    margin: 35px auto;
    display:flex;
    justify-content: center;
    flex-wrap:nowrap;
}

.logos1 img,.logos2 img,.logos3 img,.logos4 img{
    width: 95px;
    flex-shrink: 0;
    height: 45px;
    object-fit: contain;
}
.h3{
    padding-bottom: 50px;
}

.button{
    display:block;
    margin: 30px auto;
    background: #76b900;
    border: none;
    font-size: 16px;
    border-radius:5px;
    cursor:pointer;
}
.h3{
    padding-bottom: 50px;
}
lol{
    text-align: center;
    margin-top: 80px;
}
.lol p{
    width: 900px;
    margin: 20px auto;
    font-size: 22px;
    line-height: 1.6;
}
.btn{
    display:block;
    margin: 35px auto 50px;
    font-size:20px;
    font-weight: bold;
    cursor:pointer;
    background: #76b900;
    color:#fff;
    border:none;
    padding:15px 35px;

}